body, html {
	background:#0B3239;
}

section {
	width: 100%;
	text-align: center;
}

section img {
	margin: 50px auto 0;
}

section h1 {
	font-size: 36px;
	font-family: 'Forum', cursive;
	font-weight: normal;
	color: #92A144;
	margin: 25px auto 0;
	padding-left:50px;
}

section h1 strong {
	font-weight: normal;
	opacity: 1.0;
}

section h1 span {
	opacity: 0.7;
}

section h1 span.tld {
	opacity: 0.4;
}

